.table {
  &__paper {
    height: calc(100vh - 190px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__container {
    max-height: 90%;
  }

  &__tableRow {
    cursor: pointer;
  }
}
